:root {
  --header-height: 60px;
}

html {
  background: black;
}

body {
  margin: 0;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
